@font-face {
  font-family: "iconfont"; /* Project id 2992085 */
  src: url('iconfont.woff2?t=1728991190376') format('woff2'),
       url('iconfont.woff?t=1728991190376') format('woff'),
       url('iconfont.ttf?t=1728991190376') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 14px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.v-icon-svg18:before {
  content: "\e69f";
}

.v-icon-svg19:before {
  content: "\e6a1";
}

.v-icon-svg17:before {
  content: "\e69e";
}

.v-icon-svg15:before {
  content: "\e69c";
}

.v-icon-svg16:before {
  content: "\e69d";
}

.v-icon-svg14:before {
  content: "\e69b";
}

.v-icon-svg13:before {
  content: "\e69a";
}

.v-icon-svg12:before {
  content: "\e699";
}

.v-icon-svg11:before {
  content: "\e698";
}

.v-icon-svg10:before {
  content: "\e697";
}

.v-icon-svg9:before {
  content: "\e696";
}

.v-icon-svg8:before {
  content: "\e695";
}

.v-icon-svg7:before {
  content: "\e694";
}

.v-icon-svg4:before {
  content: "\e691";
}

.v-icon-svg5:before {
  content: "\e692";
}

.v-icon-svg6:before {
  content: "\e693";
}

.v-icon-svg3:before {
  content: "\e690";
}

.v-icon-svg2:before {
  content: "\e68f";
}

.v-icon-svg1:before {
  content: "\e68e";
}

.v-icon-svg:before {
  content: "\e68d";
}

.v-icon-tuyue:before {
  content: "\e68c";
}

.v-icon-view:before {
  content: "\e68b";
}

.v-icon-warning:before {
  content: "\e68a";
}

.v-icon-wenjianjia:before {
  content: "\e689";
}

.v-icon-sucai:before {
  content: "\e670";
}

.v-icon-keyboard:before {
  content: "\e6a0";
}

.v-icon-chart1:before {
  content: "\e685";
}

.v-icon-recycle:before {
  content: "\e664";
}

.v-icon-alone:before {
  content: "\e625";
}

.v-icon-load-new:before {
  content: "\e626";
}

.v-icon-freeze:before {
  content: "\e63a";
}

.v-icon-export:before {
  content: "\e63c";
}

.v-icon-import:before {
  content: "\e642";
}

.v-icon-merge:before {
  content: "\e64b";
}

.v-icon-divide:before {
  content: "\e667";
}

.v-icon-chart-pie:before {
  content: "\e681";
}

.v-icon-video-start:before {
  content: "\e684";
}

.v-icon-update:before {
  content: "\e686";
}

.v-icon-chart:before {
  content: "\e687";
}

.v-icon-chart-line:before {
  content: "\e688";
}

.v-icon-refresh:before {
  content: "\e611";
}

.v-icon-cloud:before {
  content: "\e612";
}

.v-icon-check:before {
  content: "\e613";
}

.v-icon-unlock:before {
  content: "\e61a";
}

.v-icon-editor-canvas:before {
  content: "\e61b";
}

.v-icon-video:before {
  content: "\e61c";
}

.v-icon-key:before {
  content: "\e620";
}

.v-icon-loading:before {
  content: "\e627";
}

.v-icon-title:before {
  content: "\e646";
}

.v-icon-help:before {
  content: "\e657";
}

.v-icon-magic:before {
  content: "\e659";
}

.v-icon-save:before {
  content: "\e67c";
}

.v-icon-document:before {
  content: "\e67d";
}

.v-icon-chart-bar:before {
  content: "\e67f";
}

.v-icon-folder-open:before {
  content: "\e680";
}

.v-icon-edit:before {
  content: "\e682";
}

.v-icon-complete:before {
  content: "\e67b";
}

.v-icon-template:before {
  content: "\e67a";
}

.v-icon-liebiaoxingshi:before {
  content: "\e742";
}

.v-icon-dashboard24:before {
  content: "\e6ea";
}

.v-icon-name:before {
  content: "\e66a";
}

.v-icon-shijian:before {
  content: "\e66b";
}

.v-icon-tubiao_zhexiantu:before {
  content: "\e67e";
}

.v-icon-leidatu:before {
  content: "\e66c";
}

.v-icon-paiming:before {
  content: "\e9a9";
}

.v-icon-riqi:before {
  content: "\e66d";
}

.v-icon-bingtu-:before {
  content: "\e66e";
}

.v-icon-shuzifanpaiqi:before {
  content: "\e66f";
}

.v-icon-tabye:before {
  content: "\e671";
}

.v-icon-beijingtupian:before {
  content: "\e683";
}

.v-icon-tupian:before {
  content: "\e8ba";
}

.v-icon-ciyun:before {
  content: "\e672";
}

.v-icon-zhutu:before {
  content: "\e717";
}

.v-icon-sousuolan:before {
  content: "\e673";
}

.v-icon-zhuangshi:before {
  content: "\e674";
}

.v-icon-m-div:before {
  content: "\e7d5";
}

.v-icon-paomadeng:before {
  content: "\e675";
}

.v-icon-duohangwenben:before {
  content: "\e676";
}

.v-icon-yuanxingshuiweitu:before {
  content: "\e7bd";
}

.v-icon-pingmianditu:before {
  content: "\e677";
}

.v-icon-dongtaimianban:before {
  content: "\e678";
}

.v-icon-loudoutu:before {
  content: "\e874";
}

.v-icon-sandian:before {
  content: "\e679";
}

.v-icon-kongzhi:before {
  content: "\e669";
}

.v-icon-duomeit:before {
  content: "\e668";
}

.v-icon-shandian:before {
  content: "\e746";
}

.v-icon-align-center:before {
  content: "\e706";
}

.v-icon-align-right:before {
  content: "\e707";
}

.v-icon-align-left:before {
  content: "\e708";
}

.v-icon-align-bottom:before {
  content: "\e710";
}

.v-icon-align-top:before {
  content: "\e711";
}

.v-icon-align-middle:before {
  content: "\e712";
}

.v-icon-excel:before {
  content: "\e622";
}

.v-icon-callback:before {
  content: "\e623";
}

.v-icon-release:before {
  content: "\e624";
}

.v-icon-font:before {
  content: "\e628";
}

.v-icon-relation:before {
  content: "\e629";
}

.v-icon-layer:before {
  content: "\e62a";
}

.v-icon-filter:before {
  content: "\e62b";
}

.v-icon-adapt-auto:before {
  content: "\e62c";
}

.v-icon-adapt-width:before {
  content: "\e62d";
}

.v-icon-adapt-height:before {
  content: "\e62e";
}

.v-icon-workspace:before {
  content: "\e62f";
}

.v-icon-material:before {
  content: "\e630";
}

.v-icon-box:before {
  content: "\e631";
}

.v-icon-rpanel:before {
  content: "\e632";
}

.v-icon-interact:before {
  content: "\e633";
}

.v-icon-search:before {
  content: "\e634";
}

.v-icon-preview:before {
  content: "\e635";
}

.v-icon-smile:before {
  content: "\e636";
}

.v-icon-add:before {
  content: "\e637";
}

.v-icon-fullscreen:before {
  content: "\e638";
}

.v-icon-move-down:before {
  content: "\e639";
}

.v-icon-copy:before {
  content: "\e63b";
}

.v-icon-add-floder:before {
  content: "\e63d";
}

.v-icon-move-bottom:before {
  content: "\e63e";
}

.v-icon-line-show:before {
  content: "\e63f";
}

.v-icon-favorite:before {
  content: "\e640";
}

.v-icon-line-hide:before {
  content: "\e641";
}

.v-icon-img:before {
  content: "\e643";
}

.v-icon-move-up:before {
  content: "\e644";
}

.v-icon-more:before {
  content: "\e645";
}

.v-icon-setting:before {
  content: "\e647";
}

.v-icon-move-top:before {
  content: "\e648";
}

.v-icon-other:before {
  content: "\e649";
}

.v-icon-logout:before {
  content: "\e64a";
}

.v-icon-my-data:before {
  content: "\e64c";
}

.v-icon-stop:before {
  content: "\e64d";
}

.v-icon-tutorial:before {
  content: "\e64e";
}

.v-icon-my-com:before {
  content: "\e64f";
}

.v-icon-toolbox:before {
  content: "\e650";
}

.v-icon-move:before {
  content: "\e651";
}

.v-icon-flip-h:before {
  content: "\e652";
}

.v-icon-flip-v:before {
  content: "\e653";
}

.v-icon-assets:before {
  content: "\e654";
}

.v-icon-international:before {
  content: "\e655";
}

.v-icon-view-list:before {
  content: "\e656";
}

.v-icon-delete:before {
  content: "\e658";
}

.v-icon-close:before {
  content: "\e65a";
}

.v-icon-drag:before {
  content: "\e65b";
}

.v-icon-fullscreen-exit:before {
  content: "\e65c";
}

.v-icon-mobile:before {
  content: "\e65d";
}

.v-icon-view-grid:before {
  content: "\e65e";
}

.v-icon-menu:before {
  content: "\e65f";
}

.v-icon-caret-bottom:before {
  content: "\e660";
}

.v-icon-arrow-right:before {
  content: "\e661";
}

.v-icon-arrow-up:before {
  content: "\e662";
}

.v-icon-arrow-left:before {
  content: "\e663";
}

.v-icon-plus:before {
  content: "\e665";
}

.v-icon-arrow-down:before {
  content: "\e666";
}

.v-icon-hide:before {
  content: "\e621";
}

.v-icon-error:before {
  content: "\e614";
}

.v-icon-media:before {
  content: "\e615";
}

.v-icon-nodal:before {
  content: "\e616";
}

.v-icon-link:before {
  content: "\e617";
}

.v-icon-lock:before {
  content: "\e618";
}

.v-icon-com-info:before {
  content: "\e619";
}

.v-icon-map:before {
  content: "\e61d";
}

.v-icon-show:before {
  content: "\e61e";
}

.v-icon-back:before {
  content: "\e61f";
}

.v-icon-shape-rect:before {
  content: "\e609";
}

.v-icon-shape-round-rect:before {
  content: "\e60a";
}

.v-icon-shape-circle:before {
  content: "\e60b";
}

.v-icon-shape-empty-heart:before {
  content: "\e60c";
}

.v-icon-shape-heart:before {
  content: "\e60d";
}

.v-icon-shape-square:before {
  content: "\e60e";
}

.v-icon-shape-arrow:before {
  content: "\e60f";
}

.v-icon-shape-auto:before {
  content: "\e610";
}

.v-icon-snapshot:before {
  content: "\e605";
}

.v-icon-table:before {
  content: "\e606";
}

.v-icon-shape-hexagon:before {
  content: "\e607";
}

.v-icon-shape-triangle:before {
  content: "\e608";
}

.v-icon-select-arrow:before {
  content: "\e600";
}

.v-icon-layout-column:before {
  content: "\e601";
}

.v-icon-layout-row:before {
  content: "\e602";
}

.v-icon-shape-round-square:before {
  content: "\e603";
}

.v-icon-shape-diamond:before {
  content: "\e604";
}

